{% extends 'AcmeReginaldBundle::base.html.twig' %}
{% block body %}
    <div class="row">
        <div  class="col-md-12" style="text-align: center">
            <h3>EON PHP CODING Test</h3> 
            <p></p>
        </div>
    </div> 
{% endblock %}        
