{% extends 'AcmeReginaldBundle::base.html.twig' %}
{% block body %}
    <div class="row">
        <div  class="col-md-12" style="text-align: center">
            <h2>EON PHP CODING Test</h2> 
            <p class="text-muted" style="font-size: 20px">
            The purpose of this assessment is to create entries to the Database <br>using Attributes or 
            Elements from the provided XML File (Config.xml)<br>            
            </p>
            <p style="font-size: 20px">
                To perform this task click on the button below:<br>   
            </p>
            <a href="/default/add" class="btn btn-success btn-lg">Create</a>
        </div>
    </div> 
{% endblock %}        
